:host {
  height: 100%;
}

.category-chart {
  min-height: 460px !important;
}

.hidden {
  display: none !important;
}


.transaction-calendar {
  max-height: 108vh;
  min-height: 700px;
  overflow-y: auto;
}

.no-transaction {
  height: 550px !important;
}

.no-box-shadow {
  box-shadow: none !important;
}

.is-invalid {
  border-color: red;
}


::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ddd;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #888;
}
