<div fxLayout='column' fxLayoutAlign='center center' fxFlex class='full-height' >
  <div fxLayout='row' fxLayoutAlign='center center' fxFlex >

    <div class='card card-user' fxFlex='400px'>
      <div class='card-header'>
        <h5 class='card-title'>Password Recovery</h5>
      </div>
      <div class='card-body' style='min-height: 0'>
        <form [formGroup]='form' (submit)='send()' fxLayout='column'>
          <div class='row'>
            <div class='px-1'>
              <div class='form-group'>
                <label>Your email address</label>
                <input type='text' class='form-control' placeholder='email' formControlName='email' [class.is-invalid]='emailCtrl.invalid && emailCtrl.touched'>
              </div>
            </div>
          </div>

          <div fxLayout='row' fxLayoutAlign='space-between center'>
            <div>
              <button type='submit' class='btn btn-primary btn-round' [disabled]='emailCtrl.invalid'>Send Email</button>
            </div>

            <div >
              <button type='button' class='btn btn-info btn-round' (click)='navigateToLogin()'>To login</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

