
<nav class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent">
  <div class="container-fluid">
    <div class="navbar-wrapper mg-right" *ngIf='walletService.selectedWallet$ | async as wallet'
         ngbDropdown #myDrop="ngbDropdown"
         ngbDropdownAnchor
         >
      <span (click)="myDrop.open()">
           <img src="assets/img/wallet.png" alt="..." size='10px' class='wallet-img'>
        {{wallet.name}} ({{wallet.balance}} {{currenciesDict[wallet.currencyId]}})
      </span>

      <div ngbDropdownMenu aria-labelledby='dropdownManual' class='dropdown-menu dropdown-menu-right'
        *ngIf='(walletService.availableToSelectWallets$ | async)?.length > 0'>

        <button class='dropdown-item' *ngFor='let w of walletService.availableToSelectWallets$ | async'
          (click)='walletService.setCurrentActiveWallet(w.id)'>
          {{ w.name }} ({{w.balance}} {{currenciesDict[w.currencyId]}})
        </button>
      </div>

    </div>

    <div class="navbar-wrapper">
      <div class="navbar-toggle">
        <button type="button" class="navbar-toggler" (click)="sidebarToggle()">
          <span class="navbar-toggler-bar bar1"></span>
          <span class="navbar-toggler-bar bar2"></span>
          <span class="navbar-toggler-bar bar3"></span>
        </button>
      </div>
      <a class="navbar-brand" href="javascript:void(0)">{{getTitle()}}</a>
    </div>
    <button class="navbar-toggler" type="button" (click)="collapse()"
      [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
      <span class="navbar-toggler-bar navbar-kebab"></span>
      <span class="navbar-toggler-bar navbar-kebab"></span>
      <span class="navbar-toggler-bar navbar-kebab"></span>
    </button>
    <div *ngIf='authService.isAuthorized' class="collapse navbar-collapse justify-content-end" id="collapseExample" [ngbCollapse]="isCollapsed">
      <ul class="navbar-nav">

        <li class="btn-rotate d-inline-block" ngbDropdown #dd='ngbDropdown'>
          <a class="nav-link" ngbDropdownToggle id="navbarDropdownMenuLink" >
              <i class="nc-icon nc-bell-55"></i>

              <div *ngIf='notificationService.unreadNotifications$ | async as notifications' class='notification-count'>
                <span *ngIf='notifications.length > 0'>{{notifications.length}}</span>
              </div>


          </a>
          <div ngbDropdownMenu aria-labelledby='dd' class='dropdown-menu dropdown-menu-very-left notification-scroll'>
            <div *ngFor='let n of notificationService.unreadNotifications$ | async' ngbDropdownItem
              class='notification-item'>
              <div fxLayout='row'>
                <div fxFlex>
                  <span><b>{{n.Title}}</b></span> <br/>
                  <div>{{n.Message}}</div>
                </div>

                <div fxFlex='5px'>
                  <button class="btn btn-round btn-icon btn-sm nc-icon nc-simple-remove"
                  (click)='markAsRead(n.Id);'></button>

                </div>

              </div>

            </div>
          </div>
        </li>
      </ul>

      <div fxLayout='row' fxLayoutGap='20px' fxLayoutAlign='start center' *ngIf='authService.isAuthorized'>
        <span>{{authService.currentUser?.firstName}} {{authService.currentUser?.lastName}}</span>

        <button class='btn btn-primary btn-round btn-st1' (click)='logout()'>Log Out</button>
      </div>

    </div>
  </div>
</nav>
