<div class='modal-header'>
  <h4 class='modal-title'>{{ editMode ? 'Edit Transaction' : 'Create Transaction'}}</h4>
  <button type='button' class='btn-close' aria-label='Close' (click)='close()'></button>
</div>
<div class='modal-body'>
  <div class='form-group'>
    <label>Description</label>
    <input type='text' class='form-control' placeholder='description' [formControl]='form.controls.description'
           [class.is-invalid]='form.controls.description.touched && form.controls.description.invalid'>
  </div>


  <div fxLayout='row' fxLayoutAlign='start center'>
    <div class='form-group' fxFlex='150px'>
      <label>Type</label>
      <div class='d-inline-block' ngbDropdown #typeDrop='ngbDropdown'>
        <button
          fxFlex='120px'
          type='button'
          class='btn btn-outline-primary'
          id='typeDropdown'
          ngbDropdownAnchor
          (focus)='typeDrop.open()'
        >
          {{ form.controls.type.value === transactionType.Income ? 'Income' : 'Expense' }}
        </button>
        <div ngbDropdownMenu aria-labelledby='typeDropdown' class='dropdown-menu dropdown-menu-right category-scroll'>
          <button class='dropdown-item' type='button'
                  (click)='form.controls.type.setValue(transactionType.Expense)'>
            {{ 'Expense' }}
          </button>
          <button class='dropdown-item' type='button' (click)='form.controls.type.setValue(transactionType.Income)'>
            {{ 'Income' }}
          </button>
        </div>
      </div>
    </div>

    <div class='form-group' fxFlex='150px'>
      <label>Category</label>
      <div class='d-inline-block' ngbDropdown #myDrop='ngbDropdown'>
        <button
          fxFlex='200px'
          type='button'
          class='btn btn-outline-primary'
          id='dropdownManual'
          ngbDropdownAnchor
          (focus)='myDrop.open()'
        >
          {{ form.controls.categoryName.value }}
        </button>
        <div ngbDropdownMenu aria-labelledby='dropdownManual' class='dropdown-menu dropdown-menu-right category-scroll'>
          <button class='dropdown-item' *ngFor='let c of categoriesDict[form.controls.type.value]' type='button'
                  (click)='form.controls.categoryId.setValue(c.id);form.controls.categoryName.setValue(c.name)'>
            {{ c.name }}
          </button>
        </div>
      </div>
    </div>

  </div>

  <div fxLayout='row' fxLayoutGap='20px' fxLayoutAlign='center center'>
    <div class='form-group' fxFlex>
      <label>Amount</label>
      <input type='number' class='form-control' placeholder='Balance'
             [formControl]='form.controls.amount'
             [class.is-invalid]='form.controls.amount.touched && form.controls.amount.invalid'>

    </div>

    <div class='form-group' fxFlex>
      <label>Date</label>
      <div fxLayout='row' fxLayoutAlign='start center'>
        <input
          class='form-control'
          placeholder='yyyy-mm-dd'
          name='dp'
          ngbDatepicker
          #d='ngbDatepicker'
          [formControl]='form.controls.dateFormatted'
          [class.is-invalid]='form.controls.dateFormatted.touched && form.controls.dateFormatted.invalid'>
        <button class='btn btn-outline-secondary nc-icon nc-calendar-60' (click)='d.toggle()' type='button'></button>


      </div>
    </div>

  </div>


  <div fxLayout='row' fxLayoutGap='20px' fxLayoutAlign='center center' class='min-h' *ngIf='!editMode'>
    <div class='form-group mt-top' fxLayout='row' fxLayoutGap='10px' fxLayoutAlign='start start' fxFlex>
      <label>Is Regular?</label>
      <input type='checkbox' class='check' [formControl]='form.controls.isRegular'>
    </div>

    <div class='form-group' fxFlex='200px' *ngIf='form.controls.isRegular.value'>
      <label>Periodicity Type</label>
      <div class='d-inline-block' ngbDropdown #perDropdown='ngbDropdown'>
        <button
          fxFlex='200px'
          type='button'
          class='btn btn-outline-primary'
          id='perDropdown'
          ngbDropdownAnchor
          (focus)='perDropdown.open()'
        >
          {{ periodicityDict[form.controls.periodicityType.value] }}
        </button>
        <div ngbDropdownMenu aria-labelledby='perDropdown' class='dropdown-menu dropdown-menu-right'>
          <button class='dropdown-item' type='button' *ngFor='let p of periodicityDict | keyvalue'
                  (click)='form.controls.periodicityType.setValue(+p.key)'
                  >
            {{ periodicityDict[p.key] }}
          </button>
        </div>
      </div>
  </div>
</div>
<div class='modal-footer' fxLayoutGap='10px'>
  <button type='button' class='btn btn-outline-info' (click)='close()'>Cancel</button>

  <button *ngIf='editMode' type='button' class='btn btn-outline-danger' (click)='delete()'>{{'Delete'}}</button>

  <button type='button' class='btn btn-outline-success' [disabled]='form.invalid || form.untouched' (click)='save()'>{{editMode ? 'Update' : 'Save'}}</button>
</div>
