<div fxLayout='column' fxLayoutAlign='center center' fxFlex class='full-height'>
  <div fxLayout='row' fxLayoutAlign='center center' fxFlex>

    <div class='card card-user' fxFlex='400px'>
      <div class='card-header'>
        <h5 class='card-title'>Change Password</h5>
      </div>
      <div class='card-body'>
        <div class='row'>
          <div class='pr-1'>
            <div class='form-group'>
              <label>Password</label>
              <input type='password' class='form-control' placeholder='password'
                     [formControl]='form.controls.password'
                     [class.is-invalid]='form.controls.password.touched && form.controls.password.invalid'>
            </div>
          </div>
        </div>
        <div class='row'>
          <div class='pr-1'>
            <div class='form-group'>
              <label>Confirm Password</label>
              <input type='password' class='form-control' placeholder='confirm password'
                     [formControl]='form.controls.confirmPassword'
                     [class.is-invalid]='form.controls.confirmPassword.touched && form.controls.confirmPassword.invalid'>
            </div>
          </div>
        </div>
        <div class='row' *ngIf='errorMsg'>
          <span style='color: var(--bs-red)'>{{errorMsg}}</span>
        </div>

        <div fxLayout='row' fxLayoutAlign='space-between center'>
          <div>
            <button type='button' class='btn btn-primary btn-round' [disabled]='form.invalid || errorMsg' (click)='send()'>Reset
            </button>
          </div>

          <div>
            <button type='button' class='btn btn-info btn-round' (click)='navigateToLogin()'>To login</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

